body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(47, 68, 111)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

Header h1 {
  text-align: center;
  font-size: 60px;
  color: aliceblue;
  font-weight: bolder;
}

.nav-bar {
  text-align: center;
  font-size: 30px;
  background-color: black;
  border: 2px solid;
  border-radius: 5px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.nav-link {
  margin-left: 80px;
  color: aliceblue;
}

#add-workout-form {
  text-align: center;
  border: 4px solid;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: aliceblue;
  margin-top: 80px;
}

#add-workout-form h1 {
  margin-bottom: 10px;
  font-size: 40px;
  margin-top: 20px;
}

#add-workout-form input {
  margin-bottom: 25px;
}

#add-workout-form label {
  font-size: 20px;
  margin-right: 10px;
  font-weight: bold;
}

#add-workout-form button {
  font-weight: bold;
}

#add-workout-form input[name="exercise"] {
  width: 130px;
}

#add-workout-form input[name="days"] {
  width: 100px;
}

#add-workout-form input[name="weight"] {
  width: 40px;
}

#add-workout-form input[name="sets"] {
  width: 30px;
}

#add-workout-form input[name="reps"] {
  width: 30px;
}

#workout-list-title {
  text-align: center;
  font-size: 45px;
}

.workout-card {
  text-align: center;
  border: 4px solid;
  background-color: aliceblue;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  margin-bottom: 20px;
}

.workout-card button {
  margin-bottom: 10px;
}

.workout-card h2 {
  font-weight: bold;
  font-size: 30px;
}

.workout-card p {
  font-weight: bold;
  font-size: 17px;
}

#edit-button {
  margin-right: 20px;
  font-size: 18px;
  background-color: rgb(126, 152, 135);
  font-weight: bold;
  margin-bottom: 20px;
}

#delete-button {
  font-size: 18px;
  background-color: brown;
  font-weight: bold;
}

#add-workout-form button {
  margin-bottom: 20px;
  font-size: 20px;
}

#edit-form label {
  font-size: 20px;
  font-weight: bold;
}

#edit-form input {
  margin-bottom: 10px;
  margin-top: 15px;
}

#edit-form input[name="weight"] {
  width: 40px
}

#edit-form input[name="sets"] {
  width: 30px
}

#edit-form input[name="reps"] {
  width: 30px
}

#edit-form button {
  background-color: rgb(126, 152, 135);
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

#edit-form input[name="exercise"] {
  width: 120px;
}

#edit-form input[name="days"] {
  width: 100px;
}

#home-page-message {
  text-align: center;
}

#home-page-message h1 {
  text-align: center;
  margin-top: 110px;
  font-size: 55px;
}

#home-page-message p {
  text-align: center;
  font-size: 30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

#home-page-message button {
  font-size: 25px;
  margin-right: 30px;
  margin-top: 20px;
  font-weight: bold;
}

#sign-up-form {
  text-align: center;
  margin-top: 80px;
  border: 3px solid;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background-color: aliceblue;
}

#sign-up-form input {
  margin-bottom: 25px;
}

#sign-up-form label {
  font-size: 20px;
  font-weight: bold;
}

#sign-up-form button {
  margin-top: 0;
  margin-bottom: 18px; 
  font-size: large;
  font-weight: bold;
}

#log-in-form {
  text-align: center;
  margin-top: 80px;
  border: 3px solid;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background-color: aliceblue;
}

#log-in-form input {
  margin-bottom: 25px;
} 

#log-in-form label {
  font-size: 20px;
  font-weight: bold;
}

#log-in-form button {
  margin-top: 0;
  margin-bottom: 18px; 
  font-size: large;
  font-weight: bold;
}

#go-back-button {
  margin-right: 40px;
}