body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(57, 67, 83);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

Header h1 {
  text-align: center;
  font-size: 65px;
  color: rgb(0, 0, 0);
  border: 4px solid;
  font-weight: bolder;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
}

.nav-bar {
  text-align: center;
  font-size: 32px;
  background-color: rgb(255, 255, 255);
  border: 4px solid rgb(0, 0, 0);
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  height: 40px;
  
}

.nav-link {
  margin-left: 80px;
  color: rgb(0, 0, 0);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#add-workout-form {
  text-align: center;
  border: 4px solid;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  margin-top: 80px;
}

#add-workout-form h1 {
  margin-bottom: 10px;
  font-size: 40px;
  margin-top: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: underline;
}

#add-workout-form input {
  margin-bottom: 25px;
  border: 2px solid;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  color: rgb(34, 40, 50);
}

#add-workout-form label {
  font-size: 25px;
  margin-right: 10px;
  font-weight: bold;
}

#add-workout-form button {
  border: 2px solid;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#add-workout-form input[name="exercise"] {
  width: 150px;
}

#add-workout-form input[name="days"] {
  width: 140px;
}

#add-workout-form input[name="weight"] {
  width: 60px;
}

#add-workout-form input[name="sets"] {
  width: 40px;
}

#add-workout-form input[name="reps"] {
  width: 40px;
}

#workout-list-title {
  text-align: center;
  font-size: 50px;
  border: 4px solid rgb(0, 0, 0);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.workout-card {
  text-align: center;
  border: 3px solid;
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  margin-bottom: 20px;
}

.workout-card button {
  margin-bottom: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: 2px solid;
  cursor: pointer;
}

.workout-card h2 {
  font-weight: bold;
  font-size: 30px;
  color: rgb(34, 40, 50);
  text-decoration:underline;
}

.workout-card p {
  font-weight: bold;
  font-size: 22px;
  color:rgb(0, 0, 0);
}

.workout-card span {
  color: rgb(34, 40, 50);
  margin-left: 10px;
}

#edit-button {
  margin-right: 20px;
  font-size: 18px;
  background-color: rgb(126, 152, 135);
  font-weight: bold;
  margin-bottom: 20px;
}

#delete-button {
  font-size: 18px;
  background-color: brown;
  font-weight: bold;
}

#add-workout-form button {
  margin-bottom: 20px;
  font-size: 20px;
  cursor: pointer;
}

#edit-form label {
  font-size: 22px;
  font-weight: bold;
}

#edit-form input {
  margin-bottom: 15px;
  margin-top: 15px;
  border: 2px solid;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
  color: rgb(34, 40, 50);
}

#edit-form input[name="weight"] {
  width: 45px
}

#edit-form input[name="sets"] {
  width: 30px
}

#edit-form input[name="reps"] {
  width: 30px
}

#edit-form button {
  background-color: rgb(126, 152, 135);
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

#edit-form input[name="exercise"] {
  width: 120px;
}

#edit-form input[name="days"] {
  width: 100px;
}

#home-page-message {
  text-align: center;
}

#home-page-message h1 {
  text-align: center;
  margin-top: 110px;
  font-size: 55px;
}

#home-page-message p {
  text-align: center;
  font-size: 30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

#home-page-message button {
  font-size: 25px;
  margin-right: 30px;
  margin-top: 20px;
  font-weight: bold;
  cursor: pointer;
}

#sign-up-form {
  text-align: center;
  margin-top: 80px;
  border: 3px solid;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background-color: rgb(255, 255, 255);
}

#sign-up-form h2 {
  font-size: 28px;
  text-decoration: underline;
}

#sign-up-form input {
  margin-bottom: 25px;
  border: 2px solid;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
}

#sign-up-form label {
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
}

#sign-up-form button {
  margin-top: 0;
  margin-bottom: 18px; 
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: 2px solid;
  cursor: pointer;
}

#log-in-form {
  text-align: center;
  margin-top: 80px;
  border: 3px solid;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background-color: rgb(255, 255, 255);
}

#log-in-form h2 {
  font-size: 28px;
  text-decoration: underline;
}

#log-in-form input {
  margin-bottom: 25px;
  border: 2px solid;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
} 

#log-in-form label {
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
}

#log-in-form button {
  margin-top: 0;
  margin-bottom: 18px; 
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: 2px solid;
  cursor: pointer;
}

#go-back-button {
  margin-right: 40px;
}

#home-page-message {
  border: 5px solid;
  background-color: rgb(255, 255, 255);
  margin-top: 80px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

#home-page-message button {
  margin-bottom: 40px;
  border: 2px solid;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
}

#fav-button {
  border: none;
  background-color: white;
  margin-left: 20px;
  font-size: 30px;
  cursor: pointer;
}

#signed-up-message {
  text-align: center;
  margin-top: 90px;
  font-size: 30px;
  border: 4px solid;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

#logged-in-message {
  text-align: center;
  margin-top: 90px;
  font-size: 30px;
  border: 4px solid;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

#search-workouts {
  text-align: center;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: aliceblue;
}

#search-workouts input {
  background-color: rgb(255, 255, 255);
  border: 2px solid;
  font-size: 20px;
  width: 15%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#fav-button-clicked {
  border: none;
  background-color: white;
  margin-left: 20px;
  font-size: 30px;
  cursor: pointer;
  color: gold;
}

.error {
  color: red;
  font-size: 20px;
}

#sort-dropdown {
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  border: 2px solid;
  font-size: 20px;
  width: 15%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}