body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(29, 81, 69)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

Header h1 {
  font-size: 60px;
  text-align: center;
  color: rgb(255, 255, 255);
}
Header {}

.main-nav-bar {
  text-align: center;
  font-size: 28px;
}

#home-link {
  color: aliceblue;
  margin-right: 50px;
}

#workouts-link {
  color: aliceblue;
  margin-right: 50px;
}

#add-workout-link {
  color:aliceblue; 
  margin-right: 50px;
}

#settings-link {
  color: aliceblue;
}

.home {
  text-align: center;
  font-size: 30px;
  margin-top: 150px;
}

.cta-button {
  font-size: 20px;
  margin-right: 10px;
}

.workout-list {
  text-align: center;
}

.workout-item {
  border: 4px solid;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: aliceblue;
}

#workouts-title {
  font-size: 45px;
  margin-top: 50px;
}

.add-workout {
  text-align: center;
  font-size: 30px;
  margin-top: 70px;
  border: 4px solid;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  background-color: aliceblue;
}

button {
  margin-bottom: 30px;
  font-size: 25px;
  margin-top: 10px;
}

input {
  height: 30px;
  margin-bottom: 15px;
}

#edit-button {
  font-size: 20px;
  margin-bottom: 15px;
  background-color: rgb(129, 162, 155)
}

#delete-button {
  font-size: 20px;
  background-color: brown;
  margin-left: 30px;
}

.settings {
  text-align: center;
  border: 2px solid;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

#exercise {
  width: 110px;
  margin-left: 10px;
  margin-top: 10px;
  height: 20px;
}

#weight {
  width: 40px;
  height: 20px;
  margin-left: 10px;
}

#sets {
  width: 30px;
  height: 20px;
  margin-left: 10px;
}

#save-button {
  font-size: 20px;
  background-color:rgb(129, 162, 155);
}