body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(47, 68, 111)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

Header h1 {
  text-align: center;
  font-size: 60px;
  color: aliceblue;
}

.nav-bar {
  text-align: center;
  font-size: 30px;
  background-color: black;
  border: 2px solid;
  border-radius: 5px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#home-link {
  color: aliceblue;
  margin-right: 40px;

}

#workouts-link {
  color: aliceblue;
  margin-right: 30px;
  margin-left: 100px;
}

#add-workout-link {
  color: aliceblue;
  margin-left: 60px;
}

#add-workout-form {
  text-align: center;
  border: 3px solid;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: aliceblue;
  margin-top: 80px;
}

#add-workout-form h1 {
  margin-bottom: 20px;
  font-size: 40px;
  margin-top: 20px;
}

#add-workout-form input {
  margin-bottom: 25px;
}

#add-workout-form label {
  font-size: 20px;
  margin-right: 10px;
  font-weight: bold;
}

#add-workout-form #days {
  margin-bottom: 40px;
}

#workout-list-title {
  text-align: center;
  font-size: 45px;
}

.workout-card {
  text-align: center;
  border: 3px solid;
  background-color: aliceblue;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  margin-bottom: 20px;
}

.workout-card button {
  margin-bottom: 10px;
}

#edit-button {
  margin-right: 20px;
  font-size: 15px;
  background-color: rgb(126, 152, 135);
}

#delete-button {
  font-size: 15px;
  background-color: brown;
}

#add-workout-form button {
  margin-bottom: 20px;
  font-size: 20px;
}
